.bash_history
.cache
*.com
.config
.forever
.gem
.gnupg
.gvm
.local
localhost
log/*
.meteorite
.meteorsession
.nave
.node-gyp
**/node_modules
.npm*
.nvm
.nvmrc
.pyenv
.rvm
.selected_editor
shared/log
.ssh
tmp
.v8flags*
.vim
.viminfo
.w3m
.babel.json
.git-*
.meteor
*.com
dev
.python-history
0.10.38
iotupdates
